# For secure credential and key storage.
# Rename this file to .env and fill in your details.

SCRAPER_USERNAME="your_username"
SCRAPER_PASSWORD="your_password"
CAPTCHA_API_KEY="your_captcha_service_api_key"
